body,html{
    padding:0;
    margin: 0;
    display: grid;
    background-color: rgb(183, 181, 181);
}

.topbar{
    height: 52px; 
    background-color: rgb(46, 34, 3);
}

.search{
    height: 100px; 
    background-color: rgb(96, 96, 96); 
}

.tabs{
    height: 100px; 
    background-color: rgb(255, 255, 255); 
}

.picture{
    height: 600px; 
    background-color: rgb(67, 136, 91); 
    margin-bottom: 8px; 
}

.textbox{
    height: 300px; 
    background-color: rgb(80, 60, 185);
    margin: 200px 300px 200px 300px;
}

.gray{
    height: 3000px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-column-gap: 8px; 
}

.picture2{
    height: 600px; 
    background-color: rgb(201, 45, 35);
}

.brownbox{
    height: 600px;
    background-color: rgb(46, 34, 3);
}

.footer{
    height: 888px; 
    background-color: rgb(46, 38, 9);
}