body,html{
    padding:0;
    margin: 0;
    display: grid;
    background-color: rgb(255, 255, 255);
}

.menu{
    height: 100px;
    background-color: rgb(73, 138, 178);
    margin-bottom: 150px; 
}

.main{
    height: 920px;
    margin:auto 300px auto 300px;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 8px;
}

.googlelogo{
    height: 407px; 
    background-color: rgb(186, 239, 167); 
}

.leftbutton{
    height: 95px; 
    background-color: rgb(198, 75, 174);
}

.rightbutton{
    height: 95; 
    background-color: rgb(198, 75, 174); 
    margin-top: 700px;
}

.footer{
    height: 50px; 
    background-color: rgb(219, 37, 37)
}