<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.typekit.net/ezl0weh.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="menu">
            <div class="Emily">
                    <p>Emily</p>
                </div>
                <div class="Menu">
                    <p>Menu</p>
                </div>
                <div class="Work">
                    <p>
                            <a href="/work/">Work</a>
                    </p>
                </div>
                <div class="Bio">
                    <p>Bio</p>
                </div>
    </div>

    
    <div class="title2">
            <p>Design</p>
    </div>
    <div class="design">
        <div class="text">
            <p>Calendars are the basic needs of everydaylife.</p>
            <p>I wanted to take a basic need and DESIGN it in a new way.</p>
            <p>In this porject I beging with the concept of dog dreams;</p>
            <p>from there I came up with different dreams dogs would have.</p>
            <p>After that I design each month to create a calendar.</p>
        </div>
        <div class="image2">
            <img src="/img/caladern3_emilywilson2019.jpg" alt="">
        </div>
    </div>
    <div class="more">
        <div class="image3">
            <img src="/img/caladern4_wilsonemily2019.jpg" alt="">
        </div>
        <div class="image4">
            <img src="/img/caladern5_wilsonemily2019.jpg" alt="">
        </div>
        <div class="image5">
            <img src="/IMG/placeholder1.jpg" alt="">
        </div>
    </div>
    
</body>
</html>