<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=Emil, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.typekit.net/ezl0weh.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
     <div class="menu">
         <div class="Emily">
             <p>Emily</p>
         </div>
         <div class="Menu">
             <p>
                    <a href="/menu/">Menu</a>
             </p>
         </div>
         <div class="Work">
             <p>
                 
             </p>
         </div>
         <div class="Bio">
             <p>Bio</p>
         </div>
     </div>
     <div class="title">
            <p>Emily</p>
     </div>
     <div class="work">
         <div class="image">
             
         </div>
         <div class="image">
             <img src="/img/caladern_wilsonemily2019.jpg" alt="">
         </div>
         <div class="image">
             <img src="/img/Paper_Tube_Mockup_OK_1 copy.jpg" alt="">
         </div>
         <div class="image">
             <img src="/IMG/placeholder1.jpg" alt="">
         </div>
         <div class="image">
             <img src="/IMG/placeholder2.jpg" alt="">
         </div>
         <div class="image">
             <img src="/IMG/placeholder3.jpg" alt="" srcset="">
         </div>
     </div>
</body>
</html>