<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.typekit.net/ezl0weh.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="menu">
            <div class="Emily">
                    <p>Emily</p>
                </div>
                <div class="Menu">
                    <p>Menu</p>
                </div>
                <div class="Work">
                    <p>
                            <a href="/work/">Work</a>
                    </p>
                </div>
                <div class="Bio">
                    <p>Bio</p>
                </div>
    </div>

    
    <div class="title2">
            <p>Design</p>
    </div>
    <div class="design">
        <div class="text">
            <p>packaging is something that we see everyday and it can help catch our eyes.</p>
            <p>I wanted to create a teabox that was fancy but simple.</p>
            <p>In this porject I started out with different design options.</p>
            <p>From there I picked my favorite box and design.</p>
        </div>
        <div class="image2">
            <img src="/img/Paper_Tube_Mockup_OK_1 copy.jpg" alt="">
        </div>
    </div>
    <div class="more">
        <div class="image3">
            <img src="/img/Paper_Tube_Mockup_OK_2.jpg" alt="">
        </div>
        <div class="image4">
            <img src="/img/Paper_Tube_Mockup_OK_3.jpg" alt="">
        </div> 
    </div>
    
</body>
</html>