<!-- start of partials/header -->
<div class="menu">
            <div class="Emily">
                    <p>Emily</p>
                </div>
                <div class="Menu">
                    <p>Menu</p>
                </div>
                <div class="Work">
                    <p>
                         <a href="/">Work</a>
                    </p>
                </div>
                <div class="Bio">
                    <p>
                        <a href="/bio/">Bio</a>
                    </p>
                </div>
    </div>
<!-- end of partials/header -->