---
layout: layouts/base.njk
templateClass: tmpl-post
---


<div class="title2">
            <p>Design</p>
    </div>
    <div class="design">
        <div class="text">
            <p>Calendars are the basic needs of everydaylife.</p>
            <p>I wanted to take a basic need and DESIGN it in a new way.</p>
            <p>In this porject I beging with the concept of dog dreams;</p>
            <p>from there I came up with different dreams dogs would have.</p>
            <p>After that I design each month to create a calendar.</p>
        </div>
        <div class="image2">
            <img src="{{ featured_image | url }}" />
        </div>
    </div>
    <div class="more">
        {% for image in support_images %}
            <img src="{{ image | url }}">
        {% endfor %}
    </div>

<!--
<div class="work__title">
    {{ title | upper }}
</div>


<div class="work__layout">
    <div class="work__featured_image">
        <img src="{{ featured_image | url }}" />
    </div>
    <div>
        <h4>
            {{ year }}
        </h4>
        <h4>
            {{ type }}
        </h4>
        <h4>
            {{ materials }}
        </h4>
        <h5>
            {{ description }}
        </h5>

        {% for tag in tags %}
            {%- if tag != "posts" -%}
                {% set tagUrl %}/work/{{ tag }}/{% endset %}
                <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
            {%- endif -%}
        {% endfor %}

        <div class="work__support_images">
            {% for image in support_images %}
                <img src="{{ image | url }}">
            {% endfor %}
        </div>
        

    </div>
</div>
-->