---
layout: layouts/base.njk
templateClass: tmpl-post
---


<div class="title2">
            <p>Packaging</p>
    </div>
    <div class="design">
        <div class="text">
            <p>packaging is something that we see everyday and it can help catch our eyes.</p>
            <p>I wanted to create a teabox that was fancy but simple.</p>
            <p>In this porject I started out with different design options.</p>
            <p>From there I picked my favorite box and design.</p>
        </div>
        <div class="image2">
            <img src="{{ featured_image | url }}" />
        </div>
    </div>
    <div class="more">
        {% for image in support_images %}
            <img src="{{ image | url }}">
        {% endfor %}
    </div>

<!--
<div class="work__title">
    {{ title | upper }}
</div>


<div class="work__layout">
    <div class="work__featured_image">
        <img src="{{ featured_image | url }}" />
    </div>
    <div>
        <h4>
            {{ year }}
        </h4>
        <h4>
            {{ type }}
        </h4>
        <h4>
            {{ materials }}
        </h4>
        <h5>
            {{ description }}
        </h5>

        {% for tag in tags %}
            {%- if tag != "posts" -%}
                {% set tagUrl %}/work/{{ tag }}/{% endset %}
                <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
            {%- endif -%}
        {% endfor %}

        <div class="work__support_images">
            {% for image in support_images %}
                <img src="{{ image | url }}">
            {% endfor %}
        </div>
        

    </div>
</div>
-->